<h1>Homes Sold By: <%= @seller.name %></h1>
<hr />

<% if @homes.any? %>
	<ul>
		<% @homes.each do |home| %>
			<li><h3><%= link_to home.title, seller_home_path(@seller, home) %></h3>
			</li>
		</ul>
		<% end %>
<% else %>
	<h3>No homes for sale.</h3>
<% end %>

<hr />

<%= link_to 'Add new home to sell', new_seller_home_path(@seller), class:"btn btn-default" %>

<%= link_to 'Back', seller_path(@seller), class:"btn btn-info" %>